/** Font Family */
@import url('http://fonts.googleapis.com/css?family=Open+Sans');
body { font-family: 'Open Sans', serif; }

/** Selection */
::selection { background-color: #1CA5AF; color: #FFF; }

/** Scrollbar */
::-webkit-scrollbar { -webkit-appearance: none; width: 5px; }
::-webkit-scrollbar-thumb { background-color: #AAA; }
::-webkit-scrollbar-track { background-color: #EEE; }

/** Autocomplete Color Bugfix */
input:-webkit-autofill { -webkit-box-shadow: 0 0 0 50px white; }

/** Placeholder */
::-webkit-input-placeholder { color: #555; }
::-moz-placeholder { color: #555; }

/** Page Load Animation */
@-webkit-keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }
   @-moz-keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }
        @keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }

body {
	opacity: 0;
	-webkit-animation: fadeIn ease-in 1;
	   -moz-animation: fadeIn ease-in 1;
	        animation: fadeIn ease-in 1;
	-webkit-animation-fill-mode: forwards;
	   -moz-animation-fill-mode: forwards;
	        animation-fill-mode: forwards;
	-webkit-animation-duration: 0.5s;
	   -moz-animation-duration: 0.5s;
	        animation-duration: 0.5s;
	-webkit-animation-delay: 0.5s;
	   -moz-animation-delay: 0.5s;
	        animation-delay: 0.5s;
}

/** Custom Rules */
body { width: 70%; margin: auto; }
footer { position: fixed; bottom: 0; text-align: center; }
small { color: red; }
fieldset { border: 1px solid black; margin: 40px 0; }
legend { border: 1px solid black; padding: 5px; }
input[type=checkbox], input[type=radio] { width: auto; }
input, select {
	width: 200px;
	padding: 5px;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
input:focus, select:focus { outline: 0; border: 1px solid blue; }
#game { text-align: center; }
#safe, #risk {
	width: 200px;
	height: 200px;
	font-size: 2em;
	margin: 20px;
}
#signout { position: fixed; top: 0; right: 0; width: 100px; }